{% extends 'base.html' %}

{% block content %}

<div class='container'>

    <h4 style="color:lightblue;">Modify Product</h4>

    <form method='POST'>
        <div class='row'>

            <div class="input-field col s3">
                <input name='name'  id="name" value="{{ PRODUCTS.name }}"  type="text">
                <label for="name">Product Name</label>
            </div>

            <div class="input-field col s3">
              <input name='quantity'  id="quantity" value="{{ PRODUCTS.quantity }}" type="number">
              <label for="name">Quantity</label>
            </div>

            <div class="input-field col s3">
              <input name='price'  id="price"  value="{{ PRODUCTS.price }}"  type="text">
              <label for="name">Price</label>
            </div>

        <button class="btn waves-effect waves-light col s3" type="submit" style="display:inline-block;">Save</button>
        </div>

        </form></div>

        {% endblock %}